# dependencies
Back-end/node_modules/
.prettierrc

# temporary files

# testing

# production

# misc
Back-end/tmp/
.DS_Store
Back-end/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

# IntelliJ project files

# Others
